body {
  background-color: #f0f8ff;
  font-family:"Roboto",Georgia,'Times New Roman', Times, serifs;
  color: #1a1a1a;
  margin: 0;
  padding: 2em;
}

h1 {
font-family:"Roboto",Georgia,'Times New Roman', Times, serifs;
  font-size: 2.5em;
  color: rgb(10, 40, 90);
  text-align: center;
  margin-bottom: 0.3em;
  text-shadow: 
    4px 4px 8px rgba(0,0,0,0.8),
    2px 2px 4px rgba(0,0,0,0.6);
}


h1 + hr {
  width: 80%;
  border-top: 3px solid #616161;
  margin: 0.5em auto;
}


h1 + hr + div {
  text-align: right;
  font-size: 1.2em;
  color: rgb(76, 79, 117);
  margin: 0.5em 0;
}

h2 {
font-family:"Roboto",Georgia,'Times New Roman', Times, serifs;
  font-size: 1.5em;
  margin: 0.5em 0;
  color: rgb(57, 95, 160);

}
h2:first-of-type {
  text-align: right;

}

h2 + hr {
  width: 90%;
  border-top: 3px solid #a1a1a1;
  margin: 0.5em auto;
}

p{
  font-family: "Roboto",Georgia,'Times New Roman', Times, serifs;
}

p::first-letter {
  
  font-size: 2em;
font-family:"Roboto",Georgia,'Times New Roman', Times, serifs;
  color: rgb(44, 92, 175);
  font-weight: bold;
}
p:nth-of-type(1) {
  font-style: italic;
}

p:nth-of-type(2) {
  border-left: 5px solid rgb(97, 152, 201);
  padding-left: 15px;
  margin-top: 10px;
}


p:nth-of-type(3) {
  color: #000;
  font-weight: bold;
}